Repository Fury-Labs/furya, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicolaslara, @czarcas7ic, @p0mvn, @AlpinYukseloglu, @mattverse, @stackman27, @fury-labs/devops

commit
  Makefile
Owners: @fury-labs/devops

commit
  chain.schema.json
  tests/cl-genesis-positions/go.sum
  tests/cl-go-client/go.sum
  x/ibc-hooks/go.mod
  x/ibc-hooks/go.sum
Owners: none

commit
  tests/cl-genesis-positions/go.mod
  tests/cl-genesis-positions/go.sum
Owners: none

comit
  app/app.go
  osmoutils/module_account.go
  osmoutils/store_helper_test.go
Owners: none

commit
  mytestnet/gentxs/node0.json
  mytestnet/gentxs/node1.json
  mytestnet/gentxs/node2.json
  mytestnet/gentxs/node3.json
  mytestnet/node0/furyad/config/app.toml
  mytestnet/node0/furyad/config/config.toml
  mytestnet/node0/furyad/config/genesis.json
  mytestnet/node0/furyad/config/node_key.json
  mytestnet/node0/furyad/config/priv_validator_key.json
  mytestnet/node0/furyad/data/priv_validator_state.json
  mytestnet/node0/furyad/key_seed.json
  mytestnet/node1/furyad/config/app.toml
  mytestnet/node1/furyad/config/config.toml
  mytestnet/node1/furyad/config/genesis.json
  mytestnet/node1/furyad/config/node_key.json
  mytestnet/node1/furyad/config/priv_validator_key.json
  mytestnet/node1/furyad/data/priv_validator_state.json
  mytestnet/node1/furyad/key_seed.json
  mytestnet/node2/furyad/config/app.toml
  mytestnet/node2/furyad/config/config.toml
  mytestnet/node2/furyad/config/genesis.json
  mytestnet/node2/furyad/config/node_key.json
  mytestnet/node2/furyad/config/priv_validator_key.json
  mytestnet/node2/furyad/data/priv_validator_state.json
  mytestnet/node2/furyad/key_seed.json
  mytestnet/node3/furyad/config/app.toml
  mytestnet/node3/furyad/config/config.toml
  mytestnet/node3/furyad/config/genesis.json
  mytestnet/node3/furyad/config/node_key.json
  mytestnet/node3/furyad/config/priv_validator_key.json
  mytestnet/node3/furyad/data/priv_validator_state.json
  mytestnet/node3/furyad/key_seed.json
Owners: none

cmmt
  x/protorev/types/params.go
Owners: @p0mvn

.github/CODEOWNERS:

app/wasm/**/* @nicolaslara @czarcas7ic
x/concentrated-liquidity/ @czarcas7ic @p0mvn @AlpinYukseloglu
x/downtime-detector/ @nicolaslara
x/epochs/ @mattverse @nicolaslara
x/gamm/ @mattverse @czarcas7ic @p0mvn @AlpinYukseloglu
x/incentives/ @mattverse @p0mvn @AlpinYukseloglu
x/lockup/ @mattverse @stackman27 @czarcas7ic @AlpinYukseloglu
x/mint/ @p0mvn @AlpinYukseloglu
x/pool-incentives/ @czarcas7ic @p0mvn @AlpinYukseloglu
x/poolmanager/ @czarcas7ic @p0mvn @mattverse @AlpinYukseloglu
x/protorev/ @p0mvn
x/superfluid/ @mattverse @stackman27 @AlpinYukseloglu
x/tokenfactory/ @mattverse @nicolaslara @p0mvn
x/twap/ @nicolaslara @p0mvn @AlpinYukseloglu
x/txfees/ @nicolaslara @p0mvn @AlpinYukseloglu
x/valset-pref/ @mattverse @stackman27

/.github/ @fury-labs/devops
Dockerfile @fury-labs/devops
.dockerignore @fury-labs/devops
Makefile @fury-labs/devops
/tests/localfurya/ @fury-labs/devops
/tests/localrelayer/ @fury-labs/devops
